* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

header {
    margin: 0;
    padding: 20px 100px 20px 100px;
    background: #fff;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 16px 27px 0px rgba(84, 154, 216, 0.25);
}

h1 {
    font-size: 45px;
    margin-bottom: 0.3em;
}

.inter-extra-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.inter-semi-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}

.nav-link:link, .nav-link:visited, .nav-link:active {
    color:#333333;
    text-decoration: none;
    cursor: pointer;
}

.nav-link:hover {
    color: #0C74CE;
    border-bottom: 3px solid #0C74CE;
    cursor: pointer;
}

.main-nav-container {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.main-nav-item {
    font-size: 18px;
    color: #444444;
    margin-left: 2.7em;
}

.main-nav-container img, .sidebar img {
    margin-left: 3px;
    height: 15px;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    list-style-type: none;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-side-close {
    text-align: right;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}


.sidebar li, .sidebar a{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.dropdown-sidebar{
    display: none;
}

.sidebar .dropdown-sidebar{
    padding-top: 0;
    padding-bottom: 0;
}

.sidebar .dropdown-sidebar ul {
    text-decoration: none;
    list-style: none;
}

.drop-item {
    padding-left: 20px;
}

.drop-item .nav-link {
    color: #444;
}

.nav-cta {
    color: #fff;
    background-color: #0C74CE;
    font-weight: 800;
    text-decoration: none;
    padding: 0.8em 1.5em 0.8em 1.5em;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #0C74CE;
  -webkit-transition: ease-out 0.7s;
  -moz-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
  font-size: 18px;
}

.nav-cta:hover {
    box-shadow: inset 400px 0 0 0 #07345c;
    border-radius: 30px;
}

.menu-button{
    display: none;
}

.dropdown-sidebar {
    padding-top: 0px;
    padding-bottom: 0px;
}

.header-img {
    height: 70px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    padding-top: 44px;
    background-color: #fff;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom: 4px solid #0B477A;
    animation: fade 0.4s ease-in-out;
}

.main-nav-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px 20px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    color: #0C74CE;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
}

.nosotros-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(50deg, #bf3fff50, #00bbff50);
}

.hero-sub {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero-text {
    padding-left: 130px;
    width: 37%;
    margin-top:80px;
}

.nosotros-hero-text {
    padding-left: 130px;
    width: 670px;
}

.hero-img {
    width: 33%;
    height: fit-content;
    margin-right: 130px;
    margin-top: 55px;
}

.services{
    background-color: #E7F0F3;
    text-align: center;
}

.services-title {
    text-align: center;
    font-size: 45px;
    color: #0B477A;
    padding-top: 1em;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.services-sub {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0B477A;
}

.services-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 130px;
    height: 630px;  /*Set a fixed height for the services container */
}

.service {
    width: 19%;
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    height:540px;
}

.service:hover {
transform: scale(1.08);
}

.service img {
    width: 80%;
    height: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.service h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 29px;
    color: #085598;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.service p {
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 85%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 19px;
}

.cta-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: none;
    padding: 10px 20px;
    color: #085598;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}

.service:hover .cta-btn {
    display: inline-block;
}

.cta-btn:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media (max-width: 1150px){
    .services-container{
        flex-wrap: wrap;
        height: 1250px;
    }
    .service{
        width: 34%;
        margin-bottom: 80px;
    }
}

@media(max-width: 750px) {
    .services-container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 2350px;
    }
    .service{
        width: 90%;
        max-width: 350px;
    }
}

.aboutus, .nosotros-aboutus {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.aboutus img { 
    margin-top: 95px;
    margin-left: 80px;
    width: 30%;
    height: 30%;
    transform: rotate(-7deg);
}

.nosotros-aboutus img {
    margin-top: 95px;
    margin-left: 80px;
    width: 35%;
    height: 35%;
}


.aboutustxt {
    margin-top: 85px;
    margin-left: 80px;
    width: 60%;
    max-width: 800px;
    padding-right: 100px;
}

.aboutus h2, .nosotros-aboutus h2 {
    font-size: 45px;
    color: #1c1c1c;
    margin-bottom: 0.6em;
}

.aboutus p, .nosotros-aboutus p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 19px;
    margin-bottom: 80px;
}

.aboutus a, .nosotros-aboutus a{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 22px;
    padding: 25px;
    border: 5px solid #0B477A;
    border-radius: 10px;
    color: #1c1c1c;
    text-decoration: none;
    transition: background-color 0.4s ease; /* Added transition property */
}

.aboutus a:link,
.aboutus a:visited,
.aboutus a:active,
.nosotros-aboutus a:link,
.nosotros-aboutus a:visited,
.nosotros-aboutus a:active{
    color: #1c1c1c;
    text-decoration: none;
}

.aboutus a:hover,
.nosotros-aboutus a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #0B477A;
}

@media (max-width: 1300px){
    .aboutus img, .nosotros-aboutus img{
        display: none;
    }
    .aboutustxt{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 90%;
    }
    .services-title{
        font-size: 35px;
    }
    .aboutus h2, .nosotros-aboutus h2{
        font-size: 35px;
    }
    .aboutus p, .nosotros-aboutus p{
        font-size: 18px;
        color: #444;
    }
}

.contact-container {
    background-color: #E7F0F3;
    margin: 0 auto;
    padding-bottom: 70px;
}

.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-input-container p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 14px;
    color: #2B5477;
    margin-bottom: 5px;
}

.contact-message-container p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 14px;
    color: #2B5477;
    margin-bottom: 5px;
}

.required_red {
    color: #C52222;
}

.contact-inputs {
    background-color: #fff;
    width: 270px;
    height: 58px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: #545454;
    font-size: 16px;
}

.contact-sub {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #0B477A;
    margin: 0 auto;
    margin-bottom: 45px;
    width: 90%;
}

.contact-top {
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-form textarea {
    background-color: #fff;
    height: 235px;
    width: 870px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1em;
    resize: none;
    margin-bottom: 10px;
}

.contact-inputs::placeholder {
    color: #707070;
}


.contact-inputs:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #545454;
}


.contact-inputs:autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

.forum-button {
    height: 62px;
    width: 870px;
    margin: 0px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0C74CE;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 22px;
    box-shadow: inset 0 0 0 0 #0C74CE;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  font-size: 18px;
}

.forum-button:hover {
    box-shadow: inset 870px 0 0 0 #07345c;
    border-radius: 5px;
}

.serviceshero {
    padding-top: 70px;
    padding-bottom: 85px;
    display: block;
    text-align: center;
    background-image: linear-gradient(20deg, #bf3fff50, #00bbff50);
    margin-left: auto;
    margin-right: auto;
}

.serviceshero h1 {
    color: #1c1c1c;
    width: 90%;
    max-width: 760px;
    font-size: 45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.serviceshero p{
    color: #1c1c1c;
    font-size: 20px;
    max-width: 510px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.servicessection {
    padding: 70px 130px 70px 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicessection img {
    width: 40%;
    height: 40%;
}

.sectiontext {
    margin-top: 20px;
    width: 55%;
}

.sectiontext h2{
    color: #1c1c1c;
    font-size: 45px;
    margin-bottom: 0.3em;
}

.sectiontext p {
    color: #1c1c1c;
    font-size: 20px;
}

.proceso {
    background-color: #EAF2F5;
    padding: 55px 0px 65px 0px;
}

.proceso h2 {
    font-size: 45px;
    color: #1c1c1c;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.3em;
}

.proceso p {
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.display-mobile {
    display: none;
}
.line-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-left: 12.5%;
    margin-right: 12.5%;
    position: relative;
}

.line-container::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 3px dotted #085598;
    z-index: 0;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: #EAF2F5;
    color: #1c1c1c;
    border-radius: 50%;
    border: 3px solid #085598;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    position: relative;
    z-index: 1;
}

.last-circle {
    background-color: #085598;
    color: #EAF2F5;
}

.gridcontainer, .gridcontainer-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.gridcontainer div, .gridcontainer-nosotros div{
    width: 33%;
}

.fourgrid div, .fourgrid-nosotros div{
    padding-left: 5px;
    padding-right: 5px;
}

.gridcontainer h3, .gridcontainer-nosotros h3{
    font-size: 29px;
    text-align: center;
    margin-bottom: 15px;
}

.gridcontainer p, .gridcontainer-nosotros p{
    width: 85%;
}

.gridcontainer img, .gridcontainer-nosotros img{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.clientes {
    padding-top: 55px;
    padding-bottom: 20px;
}


.clientes h2{
    font-size: 45px;
    color: #1c1c1c;
    text-align: center;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 65px;
}

.clientescont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 35px;
}

.clientes h3{
    font-size: 29px;
    margin-bottom: 8px;
}

.clientes p,
.gridcontainer p, .gridcontainer-nosotros p{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 18px;
}

.clientes ul{
    list-style: none;
    width: 55%;
}

.clientes img {
    width: 40%;
    height: 40%;
}

.clientes li {
    background-image: url(check.png);
    background-repeat: no-repeat;
    background-size: 44px 44px;
    padding-left: 65px;
    margin-bottom: 30px;
}

.beneficios {
    padding-top: 55px;
    padding-bottom: 55px;
    background-color: #f0f0f0;
}
.beneficios h2{
    font-size: 45px;
    color: #1c1c1c;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.bencontainer {
    display: flex;
    justify-content: center;
}

.bencol1 {
    width: 43%;
    max-width: 590px;
    margin-right: 20px;
}

.bencol2 {
    width: 43%;
    max-width: 590px;
    margin-left: 20px;
}

.statscontainer {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1140px;
    margin: 0 auto;
}

.benrow, .statscontainer div{
    background-color: #fff;
    border-radius: 30px;
    padding: 30px 0px 30px 0px;
    margin-bottom: 45px;
    min-height: 165px;
    -webkit-box-shadow: -2px 4 10.8px 1.5px rgba(0,0,0,0.2);
    -moz-box-shadow: -2px 4px 10.8px 1.5px rgba(0,0,0,0.2);
    box-shadow: -2px 4px 10.8px 1.5px rgba(0,0,0,0.2);
}

.statscontainer div {
    width: 342px;
    margin: 15px;
}

.statscontainer h3 {
    color: #0B477A;
    font-size: 45px;
    text-align: center;
    margin: 0 auto;
}

.statscontainer p {
    color: #1c1c1c;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    max-width: 285px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.benrow h3 {
    color: #0B477A;
    font-size: 29px;
    text-align: center;
}

.benrow p {
    color: #1c1c1c;
    font-size: 18px;
    text-align: center;
    width: 85%;
    margin: 0 auto;
}

.faqcont {
    background-color: #EEF4F6;
    padding-top: 60px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 80px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqcont h2 {
    color: #1c1c1c;
    font-size: 45px;
    text-align: center;
}

.faq {
    max-width: 910px;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #1c1c1c;
    cursor: pointer;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3 {
    font-size: 29px;
    color: #1c1c1c;
}

.answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s ease;
}

.answer p {
    padding-top: 10px;
    font-size: 18px;
    color: #1c1c1c;
}

.faq.active .answer {
    max-height: 300px;
    animation: fade 0.8s ease-in-out;
}

.faq.active img {
    height: 26px;
    width: 26px;
    transform: rotate(-45deg);
}

.faq img {
    height: 26px;
    width: 26px;
    margin-left: 20px;
    transition: transform 0.25s ease-in;
}

footer {
    background-color: #243442;
}
footer div{
    display: flex;
    color: #fff;
    justify-content: space-between;
}
.main-footer{
    padding: 60px 120px 50px 120px;
}
footer div div div, .footer-about{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

address {
    line-height: 30px;
}

.footer-nav {
    width: 55%;
}

.footer-about{
    width: 28%;
}

.footer-text, footer a, footer a:link, footer a:visited, footer a:active{
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #cccccc;
}

footer a:hover{
    color: #4084BF;
}

footer a{
    margin-bottom: 10px;
}

.footer-title {
    font-size: 29px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
}

.footer-title::after {
    content: "";
    display: block;
    width: 82px;
    height: 4px;
    background-color: #4084BF;
    position: absolute;
    left: 0;
    bottom: -12px; /* Adjust this value to control the distance between the text and the underline */
}

.social {
    flex-direction: row;
    margin-top: 20px;
}
.social img {
    width: 47px;
    height: 47px;
    margin-right: 13px;
    transition: transform .2s;
}

.social img:hover {
    transform: translateY(-4px);
}

.copyright {
    background-color: #1F272E;
    justify-content: space-between;
    padding: 15px 120px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 14px;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 1200px) {
    .clientes img {
        display: none;
    }
    .clientescont {
        padding-left: 0px;
        padding-right: 0px;
    }
    .clientes ul {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }

    .beneficios {
        padding-left: 5%;
        padding-right: 5%;
    }
    .bencontainer {
        flex-direction: column;
        align-items: center;
    }
    .bencol1, .bencol2{
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        max-width: 650px;
    }
    .benrow h3{
        width: 90%;
        margin: 0 auto;
    }
}

@media(max-width: 750px) {
    h1{
        font-size: 35px;
        margin-bottom: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
        max-width: 500px;
    }
    .hero-sub {
        font-size: 18px;
    }
    .serviceshero h1 {
        font-size: 35px;
        width: 80%;
    }
    .serviceshero p {
        font-size: 18px;
        width: 90%;
    }
}

@media(max-width: 1080px) {
    .hero{
        padding-top: 25px;
        display: block;
        text-align: center;
        background-image: linear-gradient(20deg, #bf3fff50, #00bbff50);
    }
    .nosotros-hero {
        display:block;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 90px;
    }
    .hero-text, .nosotros-hero-text{
        width: 95%;
        min-width: 0px;    
        padding-left: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
    }
    h1 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .hero-sub {
        width: 93%;
        min-width: 0px;
        max-width: 500px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-img {
        display: none;
    }
    .servicessection {
        padding-left: 0px;
        padding-right: 0px;
    }
    .servicessection img {
        display: none;
        width: 0px;
    }
    .sectiontext {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    .proceso{
        padding-bottom: 25px;
    }
    
    .display-mobile {
        display: inline;
    }
    .line-container {
        display: none;
    }

    .proceso {
        padding: 20px 0;
    }

    .proceso h2 {
        font-size: 35px;
        width: 90%;
    }

    .proceso p {
        font-size: 18px;
    }

    .beneficios h2 {
        font-size: 35px;
    }
    .gridcontainer-nosotros {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 50px;
        padding: 0 20px;
        position: relative;
    }

    .gridcontainer-nosotros div {
        width: 100%;
        margin-bottom: 40px;
        position: relative;
        padding-left: 20px;
    }

    .gridcontainer-nosotros h3 {
        margin: 0 auto;
        width: 90%;
        max-width: 400px;
        font-size: 24px;
    }

    .gridcontainer-nosotros p {
        width: 90%;
        max-width: 400px;
        font-size: 16px;
    }

    .gridcontainer-nosotros img {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }


    .gridcontainer {
        flex-direction: column;
        align-items: center;
    }
    .gridcontainer div {
        width: 90%;
        max-width: 500px;
        margin-bottom: 50px;
    }
    .main-footer {
        padding-left: 10%;
        padding-right: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .footer-about {
        width: 100%;
        max-width: 330px;
    }
    .footer-nav {
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        width: fit-content;
        margin: 0 auto;
    }
    .footer-nav div{
        margin-right: 50px;
    }
    .copyright {
        padding: 15px 10%;
    }
}

@media (max-width: 950px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    header {
        padding: 20px 40px 20px 40px;
    }
    .contact-top {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }
    .contact-input-container{
        width: 100%;
        margin-bottom: 25px;
    }
    .contact-input-container p{
        margin-left: 5%;
    }
    .contact-inputs {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .contact-message-container{
        width: 100%;
    }
    .contact-message-container p{
        margin-left: 5%;
    }
    .contact-form textarea{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .forum-button{
        width: 90%;
    }
    .clientes h2 {
        width: 90%;
    }
    .webdesign h2 {
        font-size: 35px;
    }
}