* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
header {
    margin: 0;
    padding: 20px 100px 20px 100px;
    background: #fff;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 16px 27px 0px rgba(84, 154, 216, 0.253);
}
h1 {
    font-size: 45px;
    margin-bottom: 0.3em;
}
.inter-extra-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.inter-semi-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
}
.nav-link:link, .nav-link:visited, .nav-link:active {
    color:#333333;
    text-decoration: none;
}
.nav-link:hover {
    color: #0C74CE;
    border-bottom: 3px solid #0C74CE;
}
.main-nav-container {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.main-nav-item {
    font-size: 18px;
    color: 444444;
    margin-left: 2.7em;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    list-style-type: none;
    background-color: #ffffffa1;
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav-side-close {
    text-align: right;
    padding-right: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.sidebar li, .sidebar a{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nav-cta {
    color: #fff;
    background-color: #0C74CE;
    font-weight: 800;
    text-decoration: none;
    padding: 0.8em 1.5em 0.8em 1.5em;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 #0C74CE;
  -webkit-transition: ease-out 0.7s;
  -moz-transition: ease-out 0.7s;
  transition: ease-out 0.7s;
  font-size: 18px;
}
.nav-cta:hover {
    box-shadow: inset 400px 0 0 0 #07345c;
    border-radius: 30px;
}

.menu-button{
    display: none;
}

.header-img {
    height: 70px;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 90px;
}
.hero-sub {
    font-size: 20px;
    margin-bottom: 40px;
}

.hero-text {
    padding-left: 130px;
    width: 37%;
    margin-top:80px;
}

.hero-img {
    width: 33%;
    height: fit-content;
    margin-right: 130px;
    margin-top: 55px;
}

.services{
    background-color: #E7F0F3;
}

.services-title {
    text-align: center;
    font-size: 45px;
    color: #0B477A;
    padding-top: 1em;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.services-sub {
    font-size: 18px;
    font-weight: 500;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #0B477A;
}
.services-container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    padding-bottom: 130px;
    height: 630px;  /*Set a fixed height for the services container */
}

.service {
    width: 19%;
    padding: 0px;
    background-color: #f9f9f9;
    border-radius: 25px;
    transition: transform 0.3s ease-in-out;
    height:540px;
}

.service:hover {
transform: scale(1.10);
}

.service img {
    width: 80%;
    height: auto;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.service h3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 29px;
    color: #085598;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.service p {
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 85%;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 19px;
}

.cta-btn {
    position: absolute;
    bottom: 15px;
    left: 15px;
    display: none;
    padding: 10px 20px;
    color: #085598;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-decoration: none;
}

.service:hover .cta-btn {
    display: inline-block;
}

.cta-btn:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

@media (max-width: 1150px){
    .services-container{
        flex-wrap: wrap;
        height: 1250px;
    }
    .service{
        width: 34%;
        margin-bottom: 80px;
    }
}

@media(max-width: 750px) {
    .services-container{
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        height: 2350px;
    }
    .service{
        width: 90%;
        max-width: 350px;
    }
}
.aboutus {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.aboutus img { 
    margin-top: 95px;
    margin-left: 80px;
    width: 30%;
    height: 30%;
    transform: rotate(-7deg);
}
.aboutustxt {
    margin-top: 85px;
    margin-left: 80px;
    width: 60%;
    max-width: 800px;
    padding-right: 100px;
}
.aboutus h2 {
    font-size: 45px;
    color: #1c1c1c;
    margin-bottom: 0.6em;
}
.aboutus p {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    font-size: 19px;
    margin-bottom: 80px;
}

.aboutus a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 22px;
    padding: 25px;
    border: 5px solid #0B477A;
    border-radius: 10px;
    color: #1c1c1c;
    text-decoration: none;
    transition: background-color 0.4s ease; /* Added transition property */
}

.aboutus a:link,
.aboutus a:visited,
.aboutus a:active {
    color: #1c1c1c;
    text-decoration: none;
}

.aboutus a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #0B477A;
}

@media (max-width: 1300px){
    .aboutus img{
        display: none;
    }
    .aboutustxt{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        width: 90%;
    }
}

.contact-container {
    background-color: #E7F0F3;
    margin: 0 auto;
    padding-bottom: 70px;
}

.contact-form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-input-container p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 14px;
    color: #2B5477;
    margin-bottom: 5px;
}

.contact-message-container p{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 14px;
    color: #2B5477;
    margin-bottom: 5px;
}

.required_red {
    color: #C52222;
}

.contact-inputs {
    background-color: #fff;
    width: 270px;
    height: 58px;
    border: none;
    outline: none;
    padding-left: 25px;
    border-radius: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    color: #545454;
    font-size: 16px;
}

.contact-sub {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #0B477A;
    margin: 0 auto;
    margin-bottom: 45px;
    width: 90%;
}

.contact-top {
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.contact-form textarea {
    background-color: #fff;
    height: 235px;
    width: 870px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 1em;
    resize: none;
    margin-bottom: 10px;
}

.contact-inputs::placeholder {
    color: #707070;
}


.contact-inputs:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: #545454;
}


.contact-inputs:autofill {
    box-shadow: 0 0 0px 1000px white inset;
}

.forum-button {
    height: 62px;
    width: 870px;
    margin: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0C74CE;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 22px;
    box-shadow: inset 0 0 0 0 #0C74CE;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  transition: ease-out 0.5s;
  font-size: 18px;
}

.forum-button:hover {
    box-shadow: inset 870px 0 0 0 #07345c;
    border-radius: 5px;
}

@media(max-width: 1080px) {
    .hero{
        padding-top: 25px;
        display: block;
        text-align: center;
        background-image: linear-gradient(20deg, #bf3fff50, #00bbff50);
    }
    .hero-text{
        width: 90%;
        min-width: none;    
        padding-left: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-sub {
        width: 85%;
        min-width: none;
        max-width: 500px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .hero-img {
        display: none;
    }
    h1{
        font-size: 35px;
        margin-bottom: 1em;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-width: 500px;
    }
    .hero-sub {
        font-size: 18px;
    }
}

@media (max-width: 950px) {
    .hide-on-mobile {
        display: none;
    }
    .menu-button {
        display: block;
    }
    header {
        padding: 20px 40px 20px 40px;
    }
    .contact-top {
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }
    .contact-input-container{
        width: 100%;
        margin-bottom: 25px;
    }
    .contact-input-container p{
        margin-left: 5%;
    }
    .contact-inputs {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .contact-message-container{
        width: 100%;
    }
    .contact-message-container p{
        margin-left: 5%;
    }
    .contact-form textarea{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .forum-button{
        width: 90%;
    }
}